<body>
  <div class="content-wrapper">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3 w-hidden-small w-hidden-tiny">
          <div class="white-wrapper"><img class="circle-profile" src="images/photo-1437623889155-075d40e2e59f-bw.jpg">
            <p class="site-description">Nathan is an awesome designer simple responsive blog template. Easily add new posts using the Editor or change layout and design using the Designer.</p>
            <div class="grey-rule"></div>
            <h2 class="small-heading">Featured Posts:</h2>
            <h5 class="jus">ibero, a pharetra augue. Nulla vitae elit libero, a pharetra augue</h5>
            <h5 class="jus">malesuada magna mollis euismod. Aenean eu leo quam.</h5>
            <div class="grey-rule"></div>
            <div class="social-link-group">
              <a class="social-icon-link w-inline-block" href="#"><img src="images/social-03.svg" width="25">
              </a>
              <a class="social-icon-link w-inline-block" href="#"><img src="images/social-07.svg" width="25">
              </a>
              <a class="social-icon-link w-inline-block" href="#"><img src="images/social-18.svg" width="25">
              </a>
              <a class="social-icon-link w-inline-block" href="#"><img src="images/social-09.svg" width="25">
              </a>
            </div>
          </div>
        </div>
        <div class="content-column w-col w-col-9">
          <div class="post-wrapper">
            <div class="post-content">
              <div class="body-copy w-richtext">
                <h1>Edit Post</h1>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              </div>
              <%= render 'form' %>
            </div>
          </div>
          <div class="sidebar-on-mobile">
            <div class="white-wrapper"><img class="circle-profile" src="images/photo-1437623889155-075d40e2e59f-bw.jpg">
              <p class="site-description">Nathan is an awesome designer simple responsive blog template. Easily add new posts using the Editor or change layout and design using the Designer.</p>
              <div class="grey-rule"></div>
              <h2 class="small-heading">Featured Posts:</h2>
              <h5 class="jus">ibero, a pharetra augue. Nulla vitae elit libero, a pharetra augue</h5>
              <h5 class="jus">malesuada magna mollis euismod. Aenean eu leo quam.</h5>
              <div class="grey-rule"></div>
              <div class="social-link-group">
                <a class="social-icon-link w-inline-block" href="#"><img src="images/social-03.svg" width="25">
                </a>
                <a class="social-icon-link w-inline-block" href="#"><img src="images/social-07.svg" width="25">
                </a>
                <a class="social-icon-link w-inline-block" href="#"><img src="images/social-18.svg" width="25">
                </a>
                <a class="social-icon-link w-inline-block" href="#"><img src="images/social-09.svg" width="25">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

   </body>
